@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filters__container {
  padding: 24px 16px;
  background-color: $sage;

  @include tablet {
    padding: 32px 24px 96px 24px;
  }

  .filters__title {
    padding-bottom: 24px;
    @include font-heading-mobile;

    @include tablet-desktop {
      padding-bottom: 32px;
      @include font-heading-tab-desktop;
    }
  }

  .filters__tags-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    .filters__tag {
      background-color: transparent;
      background-color: $white;
      border: none;
      border: 1px solid $forest-green;
      padding: 6px 8px;
      border-radius: 6px;
      color: $forest-green;
      cursor: pointer;
      @include font-body-mobile;

      @include tablet-desktop {
        padding: 8px 12px;
        border-radius: 12px;
        @include font-label-tab-desktop;
      }

      &:hover {
        background-color: $forest-green;
        color: $white;
      }

      &.filters__tag--active {
        background-color: $forest-green;
        color: $white;
      }
    }
  }
}
