@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filters__container {
  padding: 1.5rem 1rem;
  background-color: $sage;

  @include tablet {
    padding: 2rem 1.5rem 6rem 1.5rem;
  }

  @include desktop {
    position: absolute;
    height: 100%;
    padding: 3rem 2.5rem 0 2.5rem;
  }

  .filters__title {
    padding-bottom: 1.5rem;
    @include font-heading-mobile;

    @include tablet-desktop {
      padding-bottom: 2rem;
      @include font-heading-tab-desktop;
    }

    @include desktop {
      padding-bottom: 3rem;
    }
  }

  .filters__tags-section {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .filters__tag {
      background-color: transparent;
      background-color: $white;
      border: none;
      border: 0.063rem solid $forest-green;
      padding: 0.375rem 0.5rem;
      border-radius: 0.375rem;
      color: $forest-green;
      cursor: pointer;
      @include font-body-mobile;

      @include tablet-desktop {
        padding: 0.5rem 0.75rem;
        border-radius: 0.75rem;
        @include font-label-tab-desktop;
      }

      &:hover {
        background-color: $forest-green;
        color: $white;
      }

      &.filters__tag--active {
        background-color: $forest-green;
        color: $white;
      }
    }
  }
}
