@use './variables' as *;
@use './mixins' as *;
@use './font-face';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    background-color: $pistachio;
    color: $black;
}