@use './variables' as *;
@use './mixins' as *;
@use './font-face';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-primary;
    background-color: $pistachio;
    // background-color: $sage;
    color: $black;
}

h1, h2, h3 {
    font-family: $font-family-secondary;
}