//  Colors
$black: #0c1e1a;
$forest-green: #1e6655;
$pistachio: #effaf7;
$sea-green: #b7cec9;
$sage: #e4efec;
$white: #ffffff;

//  Fonts
$font-family-primary: "Outfit", Arial, Helvetica, sans-serif;
$font-family-secondary: "Newsreader", Georgia, "Times New Roman", serif;
