@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.Mission-section {
    padding: 24px 16px;

    &__title {
        @include font-body-mobile;
    }

    &__paragraph {
        padding-top: 24px;
        font-family: $font-family-secondary;
        @include font-title-mobile;
        line-height: 38px;

        &--italic {
            font-style: italic;
        }
    }
}