@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.mission-section {
  padding: 1.5rem 1rem;

  @include tablet-desktop {
    padding: 2rem 1.5rem;
  }

  &__title {
    @include font-body-mobile;

    @include tablet-desktop {
      @include font-body-tab-desktop;
    }
  }

  &__paragraph {
    padding-top: 1.5rem;
    @include font-title-mobile;
    line-height: 2.375rem;

    @include tablet-desktop {
      @include font-title-tab-desktop;
      padding-top: 2rem;
      line-height: 4.125rem;
    }

    @include desktop {
      width: 43.75rem;
    }

    &--italic {
      font-style: italic;
    }
  }
}
