@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-desktop {
    padding: 2rem 1.5rem;
  }

  &__title {
    @include font-wordmark-mobile;

    @include tablet-desktop {
      @include font-wordmark-tab-desktop;
    }
  }

  &__link {
    text-decoration: none;
    color: $black;
  }
}
