@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.header {
    padding: 24px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
    @include font-wordmark-tab-desktop;
    font-family: $font-family-secondary;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }
}







