@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet-desktop {
    padding: 32px 24px;
  }

  &__title {
    @include font-wordmark-mobile;
    font-family: $font-family-secondary;

    @include tablet-desktop {
      @include font-wordmark-tab-desktop;
    }
  }

  &__link {
    text-decoration: none;
    color: $black;
  }
}
