@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  padding: 1.5rem 1rem;
  margin: 0;

  @include tablet-desktop {
    padding: 2rem 1.5rem;
  }

  .footer__title,
  .footer__link,
  .footer__bottom-link {
    text-decoration: none;
  }

  .footer__content {
    @include desktop {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer__links {
    @include tablet-desktop {
      padding: 2.5rem 0 15rem 0;
      display: flex;
      justify-content: space-between;

      @include desktop {
        width: 100%;
        margin-right: 0;
      }

      .footer__title-block {
        flex: 1;
      }
    }
  }

  .footer__title {
    color: $black;
    @include font-wordmark-mobile;

    @include tablet-desktop {
      @include font-wordmark-tab-desktop;
    }
  }

  .footer__link {
    color: $black;

    max-width: max-content;
    &:hover {
      color: $forest-green;
    }

    @include font-body-mobile;

    @include tablet-desktop {
      @include font-body-tab-desktop;
    }
  }

  .footer__link-lists {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem 0;

    @include tablet {
      flex: 1;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
    }

    @include desktop {
      display: flex;
      flex-direction: row;
      padding: 0;
      gap: 6rem;
    }

    .footer__link-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      @include tablet-desktop {
        gap: 1rem;
      }
    }
  }

  .footer__icons {
    display: flex;
    gap: 1rem;

    @include tablet-desktop {
      gap: 1.5rem;
    }

    @include desktop {
      padding-top: 2.5rem;
      margin-left: 6rem;
    }

    .footer-icon {
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .footer__bottom {
    color: $sea-green;
    padding-top: 1.5rem;
    display: flex;
    gap: 1rem;
    @include font-body-mobile;

    @include tablet-desktop {
      gap: 1.5rem;
      @include font-label-tab-desktop;
    }

    @include desktop {
      @include font-body-tab-desktop;
    }

    .footer__link--bottom {
      color: $sea-green;

      &:hover {
        color: $forest-green;
      }
    }
  }
}
