@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer {
  padding: 24px 16px;
  margin: 0;

  .footer__title,
  .footer__link,
  .footer__bottom-link {
    text-decoration: none;
  }

  .footer__title {
    color: $black;
    @include font-wordmark-mobile;
    font-family: $font-family-secondary;
  }

  .footer__link {
    color: $black;
    @include font-body-mobile;
  }

  .footer__link-lists {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;

    .footer__link-list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }
  }

  .footer__icons {
    display: flex;

    gap: 16px;

    .footer-icon {
      height: 24px;
      width: 24px;
      cursor: pointer;
      transition: transform 0.1s ease;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .footer__bottom {
    color: $sea-green;
    padding-top: 24px;
    display: flex;
    gap: 16px;
    @include font-body-mobile;

    .footer__bottom-link {
      color: $sea-green;
    }
  }
}
