@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Regular.woff");
  src: url("../../assets/fonts/Alternative_files/Newsreader-Regular.woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Light.woff");
  src: url("../../assets/fonts/Alternative_files/Newsreader-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-LightItalic.woff");
  src: url("../../assets/fonts/Alternative_files/Newsreader-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff");
  src: url("../../assets/fonts/Alternative_files/Outfit-Medium.woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Light.woff");
  src: url("../../assets/fonts/Alternative_files/Outfit-Light.woff2");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #EFFAF7;
  color: #0C1E1A;
}

.header {
  padding: 24px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__title {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Newsreader", serif;
}

.filter-button {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: none;
  color: #1E6655;
  border: 3px solid #1E6655;
  border-radius: 40px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 600;
}

.filter-icon {
  margin-left: 8px;
  width: 18px;
  height: 16px;
}

.filter-button:hover, .filter-button--active {
  background-color: #1E6655;
  color: #FFFFFF;
}
.filter-button:hover .filter-icon, .filter-button--active .filter-icon {
  filter: brightness(0) saturate(100%) invert(100%);
}

.footer {
  padding: 24px 16px;
  margin: 0;
}
.footer .footer__title,
.footer .footer__link,
.footer .footer__bottom-link {
  text-decoration: none;
}
.footer .footer__title {
  color: #0C1E1A;
  font-size: 2.5rem;
  font-weight: 400;
  font-family: "Newsreader", serif;
}
.footer .footer__link {
  color: #0C1E1A;
  font-size: 15px;
  font-weight: 600;
}
.footer .footer__link-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 48px 0;
}
.footer .footer__link-lists .footer__link-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer .footer__icons {
  display: flex;
  gap: 16px;
}
.footer .footer__icons .footer-icon {
  height: 24px;
  width: 24px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer .footer__bottom {
  color: #B7CEC9;
  padding-top: 24px;
  display: flex;
  gap: 16px;
  font-size: 12px;
}
.footer .footer__bottom .footer__bottom-link {
  color: #B7CEC9;
}/*# sourceMappingURL=App.css.map */